.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #4650bd;

  width: 100%;
  padding: 32px 120px;
}

.nav-bar__links {
  display: flex;
  align-items: center;
}

.nav-bar__links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}

@media screen and (max-width: 1130px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
    padding: 32px 60px;
  }
}

@media screen and (max-width: 755px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 32px 30px;
  }
  .nav-bar__links ul {
    text-align: center;
    gap: 20px;
  }

  .nav-bar__links li {
    margin: auto;
  }
}

.banner{
  background: url('/Users/matheusmigge/Desktop/Alura/Codechella/codechella-festival-website/imagens/pexels-tobias-bjørkli-2113554.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 407px;

}

.banner h1{
  font-family: 'Calistoga';
  font-style: normal;
  font-size: 64px;
  line-height: 83px;
}