html{
  background-image: linear-gradient(#304968,#36C1A0,#4650BD);
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #4650bd;

  width: 100%;
  padding: 32px 120px;
}

.nav-bar__links {
  display: flex;
  align-items: center;
}

.nav-bar__links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
  font-family: "Open Sans", sans-serif;
}
.banner {
  width: 100%;
  height: 417px;
  background-image: url("imagens/pexels-tobias-bjørkli-2113554.jpg");
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  font-family: "Calistoga", cursive;
  font-size: 64px;
  line-height: 83px;
}

@media screen and (max-width: 1130px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
    padding: 32px 60px;
  }

  .banner {
    height: 387px;
  }
}

@media screen and (max-width: 680px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 32px 30px;
  }
  .nav-bar__links ul {
    text-align: center;
    gap: 20px;
    font-size: 10px;
  }

  .nav-bar__links li {
    margin: auto;
  }

  .banner {
    height: 230px;
  }
  .banner h1 {
    font-size: 32px;
  }
}
