.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2e7ba2;

  width: 100%;
  padding: 32px 120px;
}

.nav-bar__links {
  display: flex;
  align-items: center;
}

.nav-bar__links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}

